
/*FOOTER*/
.footer-contact{

	background: url('../img/bg-footer.jpg') #39444e;
	background-size:cover;
	text-align:center;
	position:relative; z-index:1;
	border-bottom: 5px solid rgb(28, 33, 36);

	@media #{$large-up} {
		background-position: center center;
	}

	q{
		display: block;
		font-size:rem-calc(30);
		line-height: rem-calc(40);
		margin: 1em 0;
		text-align: center;
		padding: 0 1em;
		font-family: Ubuntu;
		color:white;

		@media #{$medium-up} {
			font-size:rem-calc(48);
			line-height: rem-calc(60);
			margin: 2.5em 0 1em;
			padding: 0 2em;
		}
	}

}


footer{

	background: #202529;
	padding: 1.5rem 0;
	position: relative;
	z-index: 5;

	@media #{$medium-up} {
		padding: 7rem 0 1.5rem 0;
	}

	&:hover .copyright i:before{
		content: attr(data-text); 
		color: #8b8b8b;
		font-family: Source Sans Pro;
		width: 120px;
	}

	.copyright{
		font-size: rem-calc(18);
		color: #8b8b8b;
		font-weight: 400;
		line-height: 22px;
		position: relative;
		z-index:2;


		i{ color:$col4; 
			&:before{
				transition:width 1s,color 1s;
				width: 18px;
				display: inline-block;
			}
		}

		.medium-4{
			text-align: left;
			font-size:rem-calc(15);
			line-height: rem-calc(30);
			margin-top:3rem;
			
			@media #{$medium-up} {
				margin-top:0;
			}
			strong, a{
				color: #e7e7e7;
				font-size:rem-calc(18);
				font-weight: normal;
			}

			a:hover{
				color:#e79027;
			}
		}

		.large-12{
			text-align: center;
			margin-top:rem-calc(70);
		}
	}
}


.map{
	position: absolute;
	top: 0; bottom:0;
	left: 0; right: 0;
	z-index:1;

	iframe{
		position: absolute;
		top: 0; bottom:0;
		left: 0; right: 0;
		z-index:1;
	}

	&:after{
		content: " ";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index:1;
	}
}
