
/* BASE */

body {
	font-family: "Source Sans Pro";
	transition: height 1s;
	background: #384047;
	min-height: 800px;
	color: $primary-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: rem-calc(24);
}



h1{
	font-family: Source Sans Pro;
	font-weight: normal;
	font-size: rem-calc(40);
	line-height: rem-calc(48);
	margin-top: rem-calc(60);

	@media #{$medium-up} {
			margin-top: rem-calc(220);
			font-size: rem-calc(50);
			line-height: rem-calc(70);
		}

		@media #{$xlarge-up} {
			margin-top: rem-calc(330);
			font-size: rem-calc(70);
			line-height: rem-calc(90);
		}
	
	color: $primary-color;
}

h2{
	font-family: Source Sans Pro;
	font-weight: 400;
	font-size: rem-calc(48);
	line-height: rem-calc(50);

}

h3{
//ss
}

p{
	font-size: rem-calc(20);
	line-height: rem-calc(32);
	color: $text-color;
}

strong{
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}

img {
	border: 0;
}

.valeurIE span:hover{
	background-color: #61AFF0;
}
.risquesIE span:hover{
	background-color: #FF4A46;
}
.extiaIE span:hover{
	background-color: #E76923;
}

.buttonIE {
	font-family: "Source Sans Pro"; font-weight: 400;
	padding:0;
	margin:0;
	margin-top: 2rem;

	&:hover{
		span{
			color: #FFF;
		}
	}

	span{
		position: relative;
		top:rem-calc(30);
		display: inline-block;
		color: white;
		background:$primary-color;
		line-height: 50px;
		padding: 0 25px;
		font-size: rem-calc(16);
		border-radius: 3px;
		backface-visibility: hidden;
	}
}

a {
	border: 0;
	text-decoration: none;


	&.button {
		perspective: 1000;
		font-family: "Source Sans Pro"; font-weight: 400;
		transition:all .3s cubic-bezier(0.165,0.840,0.440,1.000);
		background:transparent;
		padding:0;
		margin:0;
		margin-top: 2rem;

		&:hover{
			background-color: transparent;
			span{
				transform: rotateX(91deg) translateY(-25px);
				color:transparent;

				&:after{
					background:rgba(0,0,0,0);
				}

				&:before{
				}
			}
		}

		span{
			position: relative;
			display: inline-block;

			transition: transform 0.3s, color 0.3s;
			transform-origin: 50% 0;
			transform-style: preserve-3d;

			color: white;
			background:$primary-color;
			
			line-height: 50px;
			padding: 0 25px;
			font-size: rem-calc(16);

			border-radius: 3px;
			backface-visibility: hidden;

			&:before{
				position: absolute;
				color:white;

				line-height: 50px;
				padding: 0 25px;

				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: $col1;
				content: attr(data-hover);
				transition: background 0.3s;
				transform: rotateX(-90deg);
				transform-origin: 50% 0;

				border-radius: 3px;
				backface-visibility: hidden;
			}

			&:after{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(0, 0, 0, 0.8);
				content: " ";
				transition: background 0.3s;
				transform: rotateX(-90deg);
				transform-origin: 50% 0;
			}
		}
	}

	&.button-white{
		margin-bottom:3rem;
		border: 2px solid #fff;
		color: white;

		@media #{$medium-up} {
			margin-bottom:8rem;
		}


		&:hover{
			color: $primary-color;
			background:white;
		}


	}

	&.primary-button {
		width: rem-calc(292);
		height: rem-calc(42);
		background: #4f5a64;
		line-height: 42px;
		padding: 0;
		border-radius: 4px;
		margin: auto;
		display: block;
		margin: 0;
		box-shadow: 0px 4px 0px 0px #384047;


		&:hover {
			transform:translateY(rem-calc(1));
			box-shadow: 0px 3px 0px 0px #384047;
			background:#58646F;
		}

		&:active {
			transform:translateY(rem-calc(4));
			box-shadow: 0px 0px 0px 0px #384047;
		}
	}

}




.site-wrapper {
	transition:transform .6s cubic-bezier(0.165,0.840,0.440,1.000);
	.main-wrapper{
		position:relative; z-index:1;
		overflow: hidden;
	}	
}


.container{
	@include clearfix;
	position: relative;
}

.wrapper{
	
	transition: 0.5s ease;
	transform-origin: 50% 30%;
	position: relative;

	&:after{
		content:" ";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0);
		z-index:0;
		pointer-events:none;
		transition: background 0.5s ease;
	}

	&.loading{
		&:after{
			background: rgba(0,0,0,0.7);
			z-index:10;
		}

		transform:scale(0.97);
	}
}



.wrapper-new{
	//transform: translateX(100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;

	&.wrapper-prev{
	}
}


.disabled{
	pointer-events:none;
}

.back-to-top{
	text-align: center;
	position: absolute;
	width: 30%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: rem-calc(30);
	line-height: rem-calc(110);
	opacity:0;
	cursor: pointer;
	transition: opacity 0.5s;

	&:hover{opacity:1;}
}

.force-opacity{opacity:1!important;}









.landing{
	height:rem-calc(500);
	padding-top: rem-calc(63);
	width: 100%;
	z-index:1;

	@media #{$medium-up}{
		height:rem-calc($medium-margin);
		padding-top: rem-calc(160);
	}

	@media #{$large-up}{
		height:rem-calc($large-margin);
	}
	
	&.desktop {
			@media #{$medium-up} {
				position: fixed; top:0; left:0;	
				transform: translate3d(0,0,0);
			}
	}
	

	h1{

		@include animateFadeToRight(1s);


		margin:4rem 0;
		color: white;
		text-shadow: 4px 4px 0 rgba(0,0,0,.2);
		cursor: pointer;
		position: relative;
		z-index:1;
		@media #{$medium-up} {
			font-size:rem-calc(60);
		}

		@media #{$large-up} {
			font-size:rem-calc(80);
		}
			

		span{
			font-size:rem-calc(30);
		}

		i{
			font-size: 35px;text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.56);opacity:0;
			transform:translateY(-1rem);transition:0.5s; display: inline-block;
		}

		&:hover{
			i{opacity:1;transform:translateY(0);}
		}
	}

	p{

		@include animateFadeToRight(1.3s);

		font-size: 19px;
		line-height: 31px;
		margin-top: -4rem;
		color:white;

		@media #{$medium-up} {
			width: 60%;
			font-size: 23px;
			line-height: 33px;
		}

		@media #{$large-up} {
			width: 65%;
			font-size: 28px;
			line-height: 44px;
		}
	}
}

.push-top{
	&.desktop {
		@media #{$medium-up} {
			margin-top:rem-calc($medium-margin);
		}
		@media #{$large-up} {
			margin-top:rem-calc($large-margin);
		}
	}

}

.content{
	background:#FAFAFC;
	position: relative;
	z-index:2;
	padding:2rem 0;

	@media #{$medium-up} {
		padding:5rem 0;
	}
}

.svg-auto-size{
	width: 100%;
}
