{% extends "layout.html.twig" %}

{% block content %} 
	<div class="container agilite" data-page="agilite">
		<header class="landing landing-agilite">
			<div class="row">
				<div class="large-8 columns">
					<h1>L'agilité te rend agile,<br> <span>(un peu comme un ninja).</span></h1>
				</div>
			</div>
		</header>
		<section class="push-top content">
			<div class="row">
				<article class="large-12 columns">
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
				<article class="large-12 columns">
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
				<article class="large-12 columns">
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
			</div>	
		</section>
		{% include "contact-footer.html.twig" %}
	</div>
{% endblock %}