{% extends "layout.html.twig" %}

{% block content %} 
	<div class="container agilite" data-page="agilite">
		<header class="landing landing-agilite {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="large-8 columns">
					<h1>Notre culture : L'agilité. <span></span><i class="icon-arrow-down4"> </i></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rem, unde, possimus, sapiente iure officiis accusantium ducimus consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</header>
		<section class="intro push-top {% if ress.isMobile ==  false %}desktop{% endif %}">
				<div class="row">
					<div class="medium-4 columns intro-picto">
						
					</div>
					<div class="medium-8 columns intro-content">
						<h2>Ici un petit titre</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rem, unde, possimus, sapiente iure officiis accusantium ducimus consequatur praesentium aperiam deserunt asperiores numquam eum ipsam maiores sequi voluptas cupiditate vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rem, unde, possimus, sapiente iure officiis.</p>
					</div>
				</div>
		</section>
		<section class="content {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<article class="large-6 columns agility-item">
					<h2>Gestion par les Risques</h2>
					<div class="large-6 columns">
						<img src="http://placehold.it/790x500&text=svg" alt="">
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Maximiser la valeur et par la complexité

							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Minimiser le temps de réalisation
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Engagement du client
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Itérations courtes
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Optimisation du ROI
							</li>

						</ul>
					</div>
				</article>
				<article class="large-6 columns agility-item">
					<h2>Gestion par les Risques</h2>
					<div class="large-6 columns">
						<img src="http://placehold.it/790x500&text=svg" alt="">
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Gestion qualitative et quantitative des risques projet
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Itérations courtes
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Feedback client
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Recette et validation en continue
							</li>
						</ul>
					</div>
				</article>
			</div>
			<div class="row">
				<article class="large-6 columns agility-item">
					<h2>Adaptabilité</h2>
					<div class="large-6 columns">
						<img src="http://placehold.it/790x500&text=svg" alt="">
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Méthode itérative & incrémentale
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Tolérance aux changements même tard dans le projet
							</li>
						</ul>
					</div>
				</article>
				<article class="large-6 columns agility-item">
					<h2>Visibilité</h2>
					<div class="large-6 columns">
						<img src="http://placehold.it/790x500&text=svg" alt="">
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Timebox et activités agiles
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Management visuel (transparence)
							</li>
							<li>
								<img src="assets/img/svg/check.svg" alt="" class='svg checkmark'>
								Indicateurs probants (burndown et burnup)
							</li>
						</ul>
					</div>
				</article>
				
			</div>	
		</section>
		{% include "contact-footer.html.twig" %}
	</div>
{% endblock %}

{% block scripts %}
<script src='agility.js'></script>
{% endblock %}
