{% extends "layout.html.twig" %}

{% block content %} 
	<div class="container contact">
		<div class="row">
			<section class="large-12 columns">
				<article>
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
			</section>
			<section class="large-12 columns">
				<article>
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
			</section>
			<section class="large-12 columns">
				<article>
					<h2>Ceci est un titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore culpa at facere quia nisi doloribus dolores praesentium. Id, vero, saepe quasi officia dolores accusantium corrupti delectus! Laboriosam, incidunt, ab?</p>
				</article>
			</section>	
		</div>
		
	</div>
{% endblock %}