{% extends "layout.html.twig" %}

{% block content %} 
	<div class="container agilite" data-page="agilite">
		<header class="landing landing-agilite {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="large-9 columns">
					<h1>Notre ADN : la culture Agile <span></span><i class="icon-arrow-down4"> </i></h1>
					<p>Pour nous, <strong>l’agilité</strong> ne se limite pas à une méthodologie de gestion de projet. C’est <strong>notre philosophie</strong>.
Alliée aux principes de <strong>l'amélioration continue</strong> elle nous permet d'apporter <strong>transparence</strong>, <strong>qualité</strong> et <strong>satisfaction à nos clients.</strong></p>
				</div>
			</div>
		</header>
		<section class="intro push-top {% if ress.isMobile ==  false %}desktop{% endif %}">
				{#<div class="row">
					<div class="medium-4 columns intro-picto">
						<a class="agilitypage losange show-for-large-up"><i class="icon-arrow-down4 losange-arrow"> </i></a>
					</div>
					<div class="medium-8 columns intro-content">
						<p>Notre démarche itérative vous permet d’avoir une visibilité totale sur votre projet à tout moment, elle est également garante de votre satisfaction : plus d’effet tunnel, vous ne découvrez pas votre solution au terme de son développement, vous accompagnez sa création et constatez nos avancées à chaque itération.</p>

<p>Ces rendez-vous récurrents vous permettent également d'affiner votre vision du produit fini et d’apporter des changement à la feuille de route de votre projet, et ce quel que soit son stade d’avancement. Ces changements en cours de projet souvent mal vécus, voire rejetés par les agences classiques sont pour nous une force, un facteur de réussite, permettant d’optimiser l’adéquation du livrable avec vos attentes.</p>

<p>Afin de maximiser la production de valeur, nos experts techniques établissent avec vous un ratio complexité / valeur pour chacune des fonctionnalités attendues ce qui nous permet de prioriser leur développement et d'implémenter en premier lieu les fonctionnalités les plus importantes à vos yeux et les moins complexes à mettre en place.</p>

<p>Nous appliquons les principes de l’amélioration continue à tous les aspects de nos métier : methodolgies, développement, conception, design, conduite de projet et documentation afin de vous faire profiter à chaque instant du retour sur expérience de nos activités.</p>
					</div>
				</div>#}
		</section>
		<section class="content {% if ress.isMobile ==  false %}desktop{% endif %}">
			
			<article>
				<div class="row">
					<div class="medium-6 columns large-push-6">
						<h2>Gestion par la Valeur</h2>
						<p>L’approche agile consiste à vous délivrer dès les premières phases du projet, 80% de la valeur de votre produit grâce à de courtes périodes de développement et une priorisation préalable de chaque fonctionnalité basée sur un ratio valeur / complexité. Vous optimisez le retour sur investissement de votre produit en bénéficiant rapidement d’une solution opérationnelle.</p>
						<p>
							<a data-pos="1" data-scroll="0" href="/" data-page-title="Home" class="button enabled"><span data-hover="Back">Back</span></a>
						</p>
					</div>

					<div class="medium-6  columns large-pull-6 agility-item scroll-item">
						<div class="large-8 large-push-4 columns">
							<svg id="AGI-value" class="svg-agilite svg-auto-size" width="393px" height="269px" x="0px" y="0px" viewBox="20 0 393 269"></svg>
						</div>
						<div class="large-4 large-pull-8 columns">
							<ul>
								<li>
								<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Maximiser l'apport de valeur par le ratio valeur/complexité
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Minimiser le temps de réalisation
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Engagement du client
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Itérations courtes
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Optimisation du ROI
								</li>

							</ul>
						</div>
					</div>
					<a data-pos="1" data-scroll="0" href="/" data-page-title="Home" class="button enabled"><span data-hover="Retour">Retour</span></a>
				</div>	
			</article>

			<article>
				<div class="row">
					<div class="medium-6 columns">
						<h2>Gestion par les Risques</h2>
						<p>La majorité des projets échouent en raison d'une mauvaise appréciation des risques. Pour pallier à cela, Kilix réalise en collaboration avec vous une analyse des complications potentielles liées à votre projet, qu'elles soient d'ordre humain, technologique ou organisationnel. Ensemble, nous anticipons les écueils par la mise en place de plans d'actions concrets régulièrement réévalués. Cette approche garantit une réduction de 80% des risques après la moitié du temps de développement.</p>
					</div>
					<div class="medium-6 columns agility-item scroll-item">
						<div class="large-8 columns">
							<svg id="AGI-risk" class="svg-agilite svg-auto-size" width="393px" height="269px" x="0px" y="0px" viewBox="20 0 393 269"></svg>
						</div>
						<div class="large-4 columns">
							<ul>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Gestion qualitative et quantitative des risques projet
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Itérations courtes
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Feedback client
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Recette et validation en continu
								</li>
							</ul>
						</div>
					</div>
					<a data-pos="1" data-scroll="1" href="/" data-page-title="Home" class="button enabled"><span data-hover="Retour">Retour</span></a>
				</div>	
			</article>

			<article>
				<div class="row">	
					<div class="medium-6 large-push-6 columns">
						<h2>Adaptabilité</h2>
						<p>Les méthodes de gestion de projet traditionnelles tolèrent peu le changement en cours de développement. Nous savons que votre besoin peut évoluer à tout moment, c’est pourquoi nous concevons et développons des fonctionnalités interopérables.</p>
						<p>
							<a data-pos="1" data-scroll="1" href="/" data-page-title="Home" class="button enabled"><span data-hover="Back">Back</span></a>
						</p>
					</div>
					<div class="medium-6 large-pull-6 columns agility-item scroll-item">
						<div class="large-8 large-push-4 columns">
							<svg id="AGI-adapt" class="svg-agilite svg-auto-size" width="393px" height="269px" x="0px" y="0px" viewBox="20 0 393 269"></svg>
						</div>
						<div class="large-4 large-pull-8 columns">
							<ul>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Méthode itérative &amp; incrémentale
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Tolérance aux changements même tard dans le projet
								</li>
							</ul>
						</div>
					</div>
				</div>
			</article>
			
			<article>
				<div class="row">
					

					<div class="medium-6 columns">
						<h2>Visibilité</h2>
						<p>Dans une volonté de transparence, nous vous partageons nos indicateurs vous permettant de suivre l'avancement du projet. Grâce à notre Usine Digitale, vous pouvez consulter en permanence la dernière version opérationnelle de votre produit. Une démonstration des dernières fonctionnalités développées vous est faite de manière périodique. Cette démarche garantit une visibilité totale sur votre projet.</p>
					</div>
					<div class="medium-6 columns agility-item scroll-item">
						<div class="large-8 columns">
							<svg id="AGI-vis" class="svg-agilite svg-auto-size" width="393px" height="269px" x="0px" y="0px" viewBox="20 0 393 269"></svg>
						</div>
						<div class="large-4 columns">
							<ul>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Timebox et activités agiles
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Management visuel (transparence)
								</li>
								<li>
									<img src="assets/img/svg/check.svg" alt="coche" class='svg checkmark'>
									Indicateurs probants (burndown et burnup)
								</li>
							</ul>
						</div>
					</div>
				
				</div>
			</article>

		</section>
		{#{% include "contact-footer.html.twig" %}#}
	</div>
{% endblock %}
