<div class="footer-contact">
	<div class="row">
		<q>Let's start a new project together!</q>
		<a id="link_contact" href="" class="button button-white">Contactez-nous</a>
	</div>
</div>
<script type="text/javascript">
  var email = "contact" + '@' + "kilix.fr";
  $('#contact_link')
  .attr('href', 'mailto:' + email);
</script>
