{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home" data-page="home">
		<header class="landing-home {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="large-8 columns">
					<div class="kilix-dispatch show-for-medium-up">			
						<img  x="0px" y="0px" src="assets/img/logo_big.svg" id="KILIX-logo"  viewBox="0 0 1500 200" alt="" class='svg'>
							<!-- <svg x="0px" y="0px" id="KILIX-logo" viewBox="0 0 1500 200"></svg> -->
					</div>
					<h1 class='landing-main-text'>
						Nous sommes une agence Web avec des post-it<sup>®</sup> sur les murs.<i class="icon-arrow-down4"> </i>
					</h1>
				</div>

			</div>
		</header>
		<section class="intro  {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="medium-4 columns intro-picto">
					<a class="homepage losange show-for-large-up"><i class="icon-arrow-down4 losange-arrow"> </i></a>
				</div>
				<div class="medium-8 columns intro-content">
					<h2>L’agence digitale Agile by EXTIA</h2>
					<p>Une agence digitale se doit de maîtriser les différentes technologies en appliquant des contraintes simples mais très fortes : tenir ces engagements de délais, périmètre et enfin de coûts. Pour Kilix, la meilleur manière de produire vos projets est de les respecter en appliquant une stratégie Agile. Nous pilotons nos projets par la valeur, les risques et dans un souci d’amélioration continue, en  s’appuyant sur les forces de production d’Extia.</p>
				</div>
			</div>
		</section>
		<div class="references">
	  		<div class="row large-centered">
	  			<div class="reference"><img src="/assets/img/ref-orange.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-ftv.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-aegis.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-publicis.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-generali.png" alt=""></div><!--
	  			--><div class="reference tf1"><img src="/assets/img/ref-tf1.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-lagardere.png" alt=""></div><!--
	  			--><div class="reference clear-fix"><img src="/assets/img/ref-sfr.png" alt=""></div>
	  		</div>
	  	</div>
		<section class="svg-anim ❤ svg-valeur" data-color="col1" data-title="Gestion par la valeur">
			<div class="row">
				<div class="large-6 medium-5 columns anim-content">
					<h2><span>Gestion <span>par </span></span><span>la</span> <span>valeur</span></h2>
					<h3>Optimiser la création de valeur</h3>
					<p>Nous pilotons votre projet de A à Z avec vous en fonction de la valeur qu’il apportera à vos utilisateurs. Vous possédez rapidement un produit qui répond à vos besoins et ceux de votre cible.</p>
					<a data-pos="3" data-scroll="0" href="/agilite" class="button enabled"><span data-hover="En savoir plus">En savoir plus</span></a>
				</div>
				<div class="large-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true or (browser.browser == "IE" and browser.majorver < 10) %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/value-medium.gif" alt="">
						{% elseif ress.isMobile == true %}
							<img src="assets/img/gif/value-small.gif" alt="">
						{% else %}
							<img src="assets/img/gif/value-medium.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="VALEUR-dispatch" x="0px" y="0px" viewBox="0 0 1400 700"></svg>
					{% endif %}					
				</div>

				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-risque" data-color="col2" data-title="Gestion par les risques">
			<div class="row">
				<div class="large-6 large-push-6 medium-5 columns anim-content">
					<h2><span>Gestion par </span><span>les</span> <span>risques</span></h2>
					<h3>Anticiper pour prévenir les risques</h3>
					<p>Avec votre collaboration, nous menons dès le début du projet une analyse des risques afin de limiter les retours de vos utilisateurs et ainsi maximiser sa réussite.</p>
					<a data-pos="3" data-scroll="1" href="/agilite" class="button enabled"><span data-hover="En savoir plus">En savoir plus</span></a>
				</div>
				<div class="large-6 large-pull-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/risk-medium.gif" alt="">
						{% elseif ress.isMobile == true %}
							<img src="assets/img/gif/risk-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="RISK-dispatch" x="0px" y="0px" viewBox="600 100 800 600">
    					</svg>
					{% endif %}
					
				</div>
				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-amelio" data-color="col3" data-title="Amélioration continue">
			<div class="row">
				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
				<div class="large-6 medium-6 columns anim-content">
					<h2><span>Amélioration</span><span> continue</span></h2>
					<h3>Toujours progresser pour viser l’excellence.</h3>
					<p>Tous les projets sont différents. Nous tirons parti de cette diversité pour apprendre et évoluer sans cesse. Ces retours d’expériences servent l’amélioration de votre produit.</p>
					<a data-pos="3" data-scroll="2" href="/agilite" class="button enabled"><span data-hover="En savoir plus">En savoir plus</span></a>
				</div>
				<div class="large-6 medium-6 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/amelio-medium.gif" alt="">
						{% elseif ress.isMobile == true %}
							<img src="assets/img/gif/amelio-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="AMELIO-transform" x="0px" y="0px" viewBox="0 0 1500 900">
						</svg>
					{% endif %}
				</div>
			</div>
		</section>
		<section class="svg-anim ❤ svg-extia" data-color="col4" data-title="Extia">
			<div class="row">
				<div class="large-6 large-push-6 medium-5  columns anim-content">
					<h2>Extia</h2>
					<h3>Boostez vos projets grâce à l'énergie d’Extia</h3>
					<p>Nous nous appuyons sur l'expertise d’Extia, acteur reconnu du conseil depuis 7 ans, qui met à votre disposition ses meilleurs consultants et vous garantit l'atteinte de vos objectifs dans les délais impartis.</p>
					<a href="http://www.extia.fr" target=_blank class="button enabled"><span data-hover="Accéder à Extia.fr">Accéder à Extia.fr</span></a>
				</div>
				<div class="large-6 large-pull-6 medium-7  columns">
				{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/extia-medium.gif" alt="">
						{% elseif ress.isMobile == true %}
							<img src="assets/img/gif/extia-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="EXTIA-animation" x="0px" y="0px" viewBox="350 0 1400 800">
    					</svg>
					{% endif %}
				</div>
			</div>
		</section>
	</div>
{% endblock %}
