{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home">
		<header class="large-12 columns landing-home">
			<div class="row">
				<div class="large-6 columns">
					<h1 class='landing-main-text'>
						Syndrome de<br>
						la page blanche,
						Bonjour.
					</h1>
<!-- 					<h1>Ceci est un h1</h1>
					<h2>Ceci est un h2</h2>
					<h3>Ceci est un h3</h3> -->
					<p>Kilix est une super agence qui fait des trucs super avec l’agilité.</p>
					<a class='landing-agility-button button'>
						L’agilité au coeur de vos projets
					</a>
				</div>
				<div class="large-6 columns">
					
				</div>
				<div class='landing-next-section-wrapper'>
					<div class='landing-next-section-back'>
						<!-- Carré -->
					</div>
					<div class='landing-next-section-arrow'>
						<!-- Fleche -->
					</div>
				</div>
			</div>
		</header>
		<section class="large-12 columns svg-anim svg-valeur">
			<div class="row">
				
			</div>
		</section>
		<section class="large-12 columns svg-anim svg-risque">
			<div class="row">
				
			</div>
		</section>
		<section class="large-12 columns svg-anim svg-amelio">
			<div class="row">
				
			</div>
		</section>
		<section class="large-12 columns svg-anim svg-extia">
			<div class="row">
				
			</div>
		</section>
	</div>
{% endblock %}