{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home">
		<header class="landing-home">
			<img src="assets/img/abstract.svg" alt="" class="svg svg-bg show-for-medium-up">
			<div class="row">
				<div class="large-7 columns">
					<h1 class='landing-main-text'>
						Syndrome de<br>
						la page blanche,<br>
						Bonjour.
					</h1>
					<p>Kilix est une super agence qui fait des trucs super avec l’agilité.</p>
					<a class='landing-agility-button button '>
						L’agilité au coeur de vos projets
					</a>
				</div>
				<div class="large-5 columns">
					
				</div>
				<div class='landing-next-section-wrapper show-for-medium-up'>
					<div class='landing-next-section-back'>
						<!-- Carré -->
					</div>
					<div class='landing-next-section-arrow'>
						<!-- Fleche -->
					</div>
				</div>
			</div>
		</header>
		<section class="svg-anim svg-valeur">
			<div class="row">
				<div class="large-4 columns">
					<h2>Gestion par la valeur</h2>
					<h3>L'essentiel en premier !</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, debitis dicta a nemo libero esse. Cupiditate, facilis asperiores qui velit eveniet eligendi quos nostrum iusto minus similique. Non, qui, ipsa.</p>
				</div>
				<div class="large-8 columns">
					<svg id="VALEUR-dispatch" x="0px" y="0px" viewBox="0 0 1400 700"></svg>
					
				</div>
			</div>
		</section>
		<section class="svg-anim svg-risque">
			<div class="row">
				<div class="large-8 columns">
					
				</div>
				<div class="large-4 columns">
					<h2>Gestion par la valeur</h2>
					<h3>L'essentiel en premier !</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, debitis dicta a nemo libero esse. Cupiditate, facilis asperiores qui velit eveniet eligendi quos nostrum iusto minus similique. Non, qui, ipsa.</p>
				</div>
			</div>
		</section>
		<section class="svg-anim svg-amelio">
			<div class="row">
				<div class="large-4 columns">
					<h2>Gestion par la valeur</h2>
					<h3>L'essentiel en premier !</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, debitis dicta a nemo libero esse. Cupiditate, facilis asperiores qui velit eveniet eligendi quos nostrum iusto minus similique. Non, qui, ipsa.</p>
				</div>
				<div class="large-8 columns">
					
				</div>
			</div>
		</section>
		<section class="svg-anim svg-extia">
			<div class="row">
				<div class="large-8 columns">
					
				</div>
				<div class="large-4 columns">
					<h2>Gestion par la valeur</h2>
					<h3>L'essentiel en premier !</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, debitis dicta a nemo libero esse. Cupiditate, facilis asperiores qui velit eveniet eligendi quos nostrum iusto minus similique. Non, qui, ipsa.</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}