{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home" data-pos="1">
		<div class="loading"></div>
		<section class="large-12 columns panel h800" id='lol'>
		</section>
		<section class="large-12 columns panel h400">
		</section>
		<section class="large-12 columns panel h400">
		</section>
		<section class="large-12 columns panel h400">
		</section>
		<section class="large-12 columns panel h400">
		</section>
	</div>
{% endblock %}