{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home" data-page="home">
		<div class="landing-home {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="large-8 columns">
					<div class="kilix-dispatch show-for-medium-up">
							<img  x="0px" y="0px" src="assets/img/logo_big.svg" id="KILIX-logo"  viewBox="0 0 1500 200" alt="" class='svg'>
							<!-- <svg x="0px" y="0px" id="KILIX-logo" viewBox="0 0 1500 200"></svg> -->
					</div>
					<h1 class='landing-main-text'>
						Nous sommes une agence Web avec des post-it<sup>®</sup> sur les murs.<i class="icon-keyboard_arrow_down"> </i>
					</h1>
				</div>

			</div>
		</div>
		<section class="intro  {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="medium-4 columns intro-picto">
					<a class="homepage losange show-for-large-up"><i class="icon-keyboard_arrow_down losange-arrow"> </i></a>
				</div>
				<article class="medium-8 columns intro-content">
					<h2>L’agence digitale Agile by EXTIA</h2>
					<p>Kilix combine la maîtrise des technologies Web les plus récentes, qu’elle associe à l’expertise d’Extia en matière de conseil. Guidée par la philosophie agile, notre équipe vous accompagne sur l’ensemble de votre projet, du conseil au développement en passant par le Webdesign. Site Web, plateforme de commerce en ligne, intranet ou application mobile, Kilix saura répondre à tous vos besoins… avec Agilité !</p>
				</article>
			</div>
		</section>
		<div class="references">
	  		<div class="row large-centered">
	  			<div class="reference"><img src="/assets/img/ref-orange.png" alt="Logo Orange"></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-ftv.png" alt="Logo France Televisions"></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-aegis.png" alt="Logo Aegis Media"></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-publicis.png" alt="Logo Publicis Groupe"></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-decapost.png" alt="Logo Decapost Group"></div><!--
	  			--><div class="reference tf1"><img src="/assets/img/ref-tf1.png" alt="Logo TF1"></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-lagardere.png" alt="Logo lagardère"></div><!--
	  			--><div class="reference clear-fix"><img src="/assets/img/ref-sfr.png" alt="Logo SFR"></div>
	  		</div>
	  	</div>
		<section class="svg-anim ❤ svg-valeur" data-color="col1" data-title="Gestion par la valeur">
			<div class="row">
				<div class="large-6 medium-5 columns anim-content scroll-item">
					<h2><span>Gestion <span>par </span></span><span>la</span> <span>valeur</span></h2>
					<h3>Optimiser la création de valeur</h3>
					<p>Nous pilotons avec vous votre projet de A à Z en fonction de la valeur qu’il apportera à vos utilisateurs. Vous possédez rapidement un produit qui répond à vos besoins et ceux de votre cible.</p>
					{% if browser.browser == "IE" %}
						<a data-pos="3" data-scroll="0" data-page-title="Agilite" href="/agilite" class="buttonIE valeurIE enabled" title="Gestion par la valeur"><span data-hover="En savoir plus">En savoir plus</span></a>
					{% else %}
						<a data-pos="3" data-scroll="0" data-page-title="Agilite" href="/agilite" class="button enabled" title="Gestion par la valeur"><span data-hover="En savoir plus">En savoir plus</span></a>
					{% endif %}
				</div>
				<div class="large-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/value.png" alt="Animation valeur" class="medium-gif png-anim" data-gif='/assets/img/gif/value-medium.gif'>
						{% elseif ress.isMobile == true %}
							<img src="assets/img/value.png" class='png-anim' alt="Animation valeur" data-gif='/assets/img/gif/value-small.gif'>
						{#{% else %}
							<div class="video-head"></div>
							<video src="assets/video/valeur-IE.mp4" autoplay loop></video>#}
						{% endif %}
					{% else %}
						<svg id="VALEUR-dispatch" x="0px" y="0px" viewBox="0 0 1400 700"></svg>
					{% endif %}
				</div>

				<a class='next-section'>
					<i class="icon-keyboard_arrow_down"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-risque" data-color="col2" data-title="Gestion par les risques">
			<div class="row">
				<div class="large-6 large-push-6 medium-5 columns anim-content scroll-item">
					<h2><span>Gestion par </span><span>les</span> <span>risques</span></h2>
					<h3>Anticiper pour prévenir les risques</h3>
					<p>Avec votre collaboration, nous menons dès le début du projet une analyse des risques afin de limiter les retours de vos utilisateurs et ainsi maximiser sa réussite.</p>
					{% if browser.browser == "IE" %}
						<a data-pos="3" data-scroll="1" data-page-title="Agilite" href="/agilite" class="buttonIE risquesIE enabled" title="Gestion par les risques"><span data-hover="En savoir plus">En savoir plus</span></a>
					{% else %}
						<a data-pos="3" data-scroll="1" data-page-title="Agilite" href="/agilite" class="button enabled" title="Gestion par les risques"><span data-hover="En savoir plus">En savoir plus</span></a>
					{% endif %}
				</div>
				<div class="large-6 large-pull-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/risk.png" class='png-anim' alt="Animation risque" class="medium-gif png-anim"  data-gif='/assets/img/gif/risk-medium.gif'>
						{% elseif ress.isMobile == true %}
							<img src="assets/img/risk.png" class='png-anim' alt="Animation risque"  data-gif='/assets/img/gif/risk-small.gif'>
						{#{% else %}
							<video src="assets/video/risk-IE.mp4" autoplay loop></video>#}
						{% endif %}
					{% else %}
						<svg id="RISK-dispatch" x="0px" y="0px" viewBox="600 100 800 600">
    					</svg>
					{% endif %}

				</div>
				<a class='next-section'>
					<i class="icon-keyboard_arrow_down"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-amelio" data-color="col3" data-title="Amélioration continue">
			<div class="row">
				<a class='next-section'>
					<i class="icon-keyboard_arrow_down"> </i>
				</a>
				<div class="large-6 medium-6 columns anim-content scroll-item">
					<h2><span>Amélioration</span><span> continue</span></h2>
					<h3>Toujours progresser pour viser l’excellence.</h3>
					<p>Tous les projets sont différents. Nous tirons parti de cette diversité pour apprendre et évoluer sans cesse. Ces retours d’expériences servent l’amélioration de votre produit.</p>
				</div>
				<div class="large-6 medium-6 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/amelio.png" alt="Animation amélioration continue" class="medium-gif png-anim" data-gif='/assets/img/gif/amelio-medium.gif'>
						{% elseif ress.isMobile == true %}
							<img src="assets/img/amelio.png" class='png-anim' alt="Animation amelioration continue" data-gif='/assets/img/gif/amelio-small.gif'>
						{#{% else %}
							<video src="assets/video/amelio-IE.mp4" autoplay loop></video>#}
						{% endif %}
					{% else %}
						<svg id="AMELIO-transform" x="0px" y="0px" viewBox="0 0 1500 900">
						</svg>
					{% endif %}
				</div>
			</div>
		</section>
		<section class="svg-anim ❤ svg-extia" data-color="col4" data-title="Extia">
			<div class="row">
				<article class="large-6 large-push-6 medium-5  columns anim-content">
					<h2>
						<p class='title'>
							Extia
						</p>
						<p class='logo'>
							<img src="/assets/img/extia-logo.png" alt="Logo Extia">
						</p>

					</h2>
					<h3>Boostez vos projets grâce à l'énergie d’Extia</h3>
					<p>Nous nous appuyons sur l'expertise d’Extia, acteur reconnu du conseil depuis 7 ans, qui met à votre disposition ses meilleurs consultants et vous garantit l'atteinte de vos objectifs dans les délais impartis.</p>
					{% if browser.browser == "IE" %}
						<a href="https://www.extia.fr" target=_blank class="buttonIE extiaIE" title="EXTIA - Incubateur de talents"><span data-hover="Accéder à Extia.fr">Accéder à Extia.fr</span></a>
					{% else %}
							<a href="https://www.extia.fr" target=_blank class="button" title="EXTIA - Incubateur de talents"><span data-hover="Accéder à Extia.fr">Accéder à Extia.fr</span></a>
					{% endif %}
				</article>
				<div class="large-6 large-pull-6 medium-7  columns anim-item">
				{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/extia.png" alt="Animation Extia" class="medium-gif png-anim" data-gif='/assets/img/gif/extia-medium.gif'>
						{% elseif ress.isMobile == true %}
							<img src="assets/img/extia.png" alt="Animation Extia" class='png-anim' data-gif='/assets/img/gif/extia-small.gif'>
						{#{% else %}
							<video src="assets/video/extia-IE.mp4" autoplay loop></video>#}
						{% endif %}
					{% else %}
						<svg id="EXTIA-animation" x="0px" y="0px" viewBox="350 0 1400 800">
    					</svg>
					{% endif %}
				</div>
			</div>
		</section>
	</div>
{% endblock %}
