{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home" data-page="home">
		<header class="landing-home {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="large-8 columns">
					<div class="kilix-dispatch show-for-medium-up">
						<svg x="0px" y="0px" id="KILIX-logo" viewBox="0 0 1500 200"></svg>	
					</div>
					<h1 class='landing-main-text'>
						Nous sommes une agence digitale,
						avec des post-it sur les murs. <i class="icon-arrow-down4"> </i>
					</h1>
					<!-- <p>Kilix est une agence digitale mettant l'agilité au service de vos projets web et mobile.</p> -->
					<!--<a class='landing-button'>
						<i class="icon-arrow-down4"> </i> <span>L’agilité au coeur de vos projets</span>
					</a>-->
				</div>

			</div>
		</header>
		<section class="intro  {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div class="row">
				<div class="medium-4 columns intro-picto">
					
				</div>
				<div class="medium-8 columns intro-content">
					<h2>Ici un petit titre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rem, unde, possimus, sapiente iure officiis accusantium ducimus consequatur praesentium aperiam deserunt asperiores numquam eum ipsam maiores sequi voluptas cupiditate vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rem, unde, possimus, sapiente iure officiis.</p>
				</div>
			</div>
		</section>
		<section class="svg-anim ❤ svg-valeur" data-color="col1" data-title="Gestion par la valeur">
			<div class="row">
				<div class="large-6 medium-5 columns anim-content">
					<h2><span>Gestion <span>par </span></span><span>la</span> <span>valeur</span></h2>
					<h3>L’essentiel avant tout !</h3>
					<p>Parce que votre Time-to-Market est notre première priorité : Valorisez vos besoins, et reprenez le contrôle de vos projets. Ensemble, développons avant tout ce qui compte vraiment.</p>
				</div>
				<div class="large-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/value-medium.gif" alt="">
						{% else %}
							<img src="assets/img/gif/value-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="VALEUR-dispatch" x="0px" y="0px" viewBox="0 0 1400 700"></svg>
					{% endif %}					
				</div>

				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-risque" data-color="col2" data-title="Gestion par les risques">
			<div class="row">
				<div class="large-6 large-push-6 medium-5 columns anim-content">
					<h2><span>Gestion par </span><span>les</span> <span>risques</span></h2>
					<h3>Anticiper l’imprévu !</h3>
					<p>Plus que jamais, l’imprévisible est toujours le pire ennemi du projet. C’est en anticipant conjointement les futurs écueils que nous protégeons vos projets afin d’en assurer leur totale réussite.</p>
				</div>
				<div class="large-6 large-pull-6 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/risk-medium.gif" alt="">
						{% else %}
							<img src="assets/img/gif/risk-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="RISK-dispatch" x="0px" y="0px" viewBox="600 100 800 600">
    					</svg>
					{% endif %}
					
				</div>
				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
			</div>
		</section>
		<section class="svg-anim ❤ svg-amelio" data-color="col3" data-title="Amélioration continue">
			<div class="row">
				<a class='next-section'>
					<i class="icon-arrow-down4"> </i>
				</a>
				<div class="large-5 medium-5 columns anim-content">
					<h2><span>Amélioration</span><span> continue</span></h2>
					<h3>Se perfectionner sans cesse</h3>
					<p>Tous les projets sont différents. Nous profitons de cette diversité pour apprendre continuellement et toujours viser l’excellence. Ainsi, nous mettons à profit ces retours d’expérience au service de vos produits.</p>
				</div>
				<div class="large-7 medium-7 columns anim-item">
					{% if ress.isMobile ==  true %}
						{% if ress.isTablet == true %}
							<img src="assets/img/gif/amelio-medium.gif" alt="">
						{% else %}
							<img src="assets/img/gif/amelio-small.gif" alt="">
						{% endif %}
					{% else %}
						<svg id="AMELIO-transform" x="0px" y="0px" viewBox="0 0 1500 900">
					{% endif %}
    				</svg>
				</div>
			</div>
		</section>
		<section class="svg-anim ❤ svg-extia" data-color="col4" data-title="Extia">
			<div class="row">
				<div class="large-6 large-push-6 medium-5  columns anim-content">
					<h2>Extia</h2>
					<h3>Paré à toute éventualité !</h3>
					<p>Nous tirons notre expertise d’Extia, qui met à votre disposition ses meilleurs consultants qui vous garantissent la réussite de votre projet au Time-To-Market optimisé, aux risques maîtrisés, avec les méthodes de gestion de projet les plus rodées. </p>
					<a href="/agilite" class="button">En savoir plus</a>
				</div>
				<div class="large-6 large-pull-6 medium-7  columns">
					<svg id="EXTIA-animation" x="0px" y="0px" viewBox="350 0 1400 800">
    				</svg>
				</div>
			</div>
		</section>
		<div class="references">
	  		<div class="row large-centered">
	  			<div class="reference"><img src="/assets/img/ref-orange.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-ftv.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-aegis.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-publicis.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-generali.png" alt=""></div><!--
	  			--><div class="reference tf1"><img src="/assets/img/ref-tf1.png" alt=""></div><!--
	  			--><div class="reference"><img src="/assets/img/ref-lagardere.png" alt=""></div><!--
	  			--><div class="reference clear-fix"><img src="/assets/img/ref-sfr.png" alt=""></div>
	  		</div>
	  	</div>
	</div>
{% endblock %}
