{% extends "layout.html.twig" %}

{% block content %}
	<div class="container home" data-page="home">
		<header class="landing-home">
			<div class="row">
				<div class="large-7 columns">
					<h1 class='landing-main-text'>
						Syndrome de<br>
						la page blanche,<br>
						Bonjour.
					</h1>
					<p>Kilix est une super agence qui fait des trucs super avec l’agilité.</p>
					<a class='primary-button button '>
						L’agilité au coeur de vos projets
					</a>
				</div>
				<div class="large-5 columns">
					
				</div>
				<div class='landing-next-section-wrapper show-for-medium-up'>
					<div class='landing-next-section-back'>
						<!-- Carré -->
					</div>
					<div class='landing-next-section-arrow'>
						<!-- Fleche -->
					</div>
				</div>
			</div>
		</header>
		<section class="svg-anim svg-valeur">
			<div class="row">
				<div class="large-4 columns">
					<h2>Gestion par la valeur</h2>
					<h3>L’essentiel avant tout !</h3>
					<p>Parce que votre Time-to-Market est notre première priorité : Valorisez vos besoins, et reprenez le contrôle de vos projets. Ensemble, développons avant tout ce qui compte vraiment.</p>
				</div>
				<div class="large-8 columns">
					<svg id="VALEUR-dispatch" x="0px" y="0px" viewBox="0 0 1400 700"></svg>		
				</div>
			</div>
		</section>
		<section class="svg-anim svg-risque">
			<div class="row">
				<div class="large-4 large-push-8 columns">
					<h2>Gestion par les risques</h2>
					<h3>Anticiper l’imprévu !</h3>
					<p>Plus que jamais, l’imprévisible est toujours le pire ennemi du projet. C’est en anticipant conjointement les futurs écueils que nous protégeons vos projets afin d’en assurer leur totale réussite.</p>
				</div>
				<div class="large-8 large-pull-4 columns">
					<svg id="RISK-dispatch" x="0px" y="0px" viewBox="600 100 800 600">
    				</svg>
				</div>
			</div>
		</section>
		<section class="svg-anim svg-amelio">
			<div class="row">
				<div class="large-5 columns">
					<h2>Extia</h2>
					<h3>Paré à toute éventualité !</h3>
					<p>Nous tirons notre expertise d’Extia, qui met à votre disposition ses meilleurs consultants et qui vous garantissent la réussite de votre projet au Time-To-Market optimisé, aux risques maîtrisés, avec les méthodes de gestion de projet les plus rodées. </p>
				</div>
				<div class="large-8 columns">
					<svg id="AMELIO-transform" x="0px" y="0px" viewBox="0 0 1500 800">
    </svg>
				</div>
			</div>
		</section>
		<section class="svg-anim svg-extia">
			<div class="row">
				<div class="large-4 large-push-8 columns">
					<h2>Amélioration continue</h2>
					<h3>Se perfectionner sans cesse</h3>
					<p>Tous les projets sont différents. Nous profitons de cette diversité pour apprendre continuellement et toujours viser l’excellence. Ainsi, nous mettons à profit ces retours d’expérience au service de vos produits.</p>
				</div>
				<div class="large-8 large-pull-4 columns">
					<img src="http://placehold.it/790x500&text=svg" alt="">
				</div>
			</div>
		</section>
		<div class="references">
	  		<div class="row">
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  			<div class="small-4 medium-2 columns"><img src="http://placehold.it/170x80" alt=""></div>
	  		</div>
	  	</div>
	  	{% include "contact-footer.html.twig" %}
	</div>
{% endblock %}
