<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kilix V2</title>
  		<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
  		<script src="assets/js/vendor/modernizr.min.js"></script>
  		{% if ress.isMobile ==  true %}
			<style>
				.svg-anim {
					background: #fbfbfb;
				}
			</style>
  		{% endif %}
	</head>
	<body>
		<nav class="navbar navbar-top">
			<div class="row">
				<i class="toggle-menu show-for-small-only">
					<span class='ham-folded'>≡</span>
					<span class='icon-unfolded'>
						<!-- TODO : Flèche ici -->
					</span>
				</i>
				<div class="logo">
					<a href="/"><img class="svg" src="assets/img/logo_small.svg" alt=""></a>
				</div>
				<div class='nav-links-wrapper nav-links-hidden'>
					<a class='nav-link enabled {% if page == 'home' %}current{% endif %}' href="/" data-pos="1">Home</a>
					<a class='nav-link enabled {% if page == 'team' %}current{% endif %}' href="/team" data-pos="2">Team</a>
					<a class='nav-link enabled {% if page == 'agilite' %}current{% endif %}' href="/agilite" data-pos="3">Agilite</a>
					<!--<a class='nav-link enabled {% if page == 'contact' %}current{% endif %}' href="/contact" data-pos="4">Contact</a>-->
					<a class="nav-link-contact hide-for-small-only">Contact</a>
					<div class="nav-contact show-for-small-only">
						<a class="phone-contact" href="tel:0146999191">Phone</a><!--
						--><a class="mail-contact" href="mailto:contact@kilix.fr">Email</a>
					</div>
				</div>
				<div class="back-to-top show-for-medium-up">
					<i class="icon-arrow-up"></i>
				</div>
			</div>
		</nav>
		<div class='site-wrapper clearfix'>
			<div class="main-wrapper">
				<div class="wrapper">
					{% block content %}{% endblock %}
		  		</div>
		  	</div>
		</div>
		<footer>
			<div class="map">
				<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v3/bulby97.map-zj10lv4w/mm/index.html?secure=1#18/48.82681/2.22268'></iframe>
			</div>
			<div class="copyright row">
				<div class="medium-8 medium-centered columns">
					<div class="medium-4 columns">
						<strong>Kilix/Extia</strong> <br>
						<a target="_blank" href="https://maps.google.fr/maps?q=google+maps+1+avenue+de+la+cristallerie&ie=UTF-8&hq=&hnear=0x47e67b0491111b29:0x1e40b81275175848,1+Avenue+de+la+Cristallerie,+92310+S%C3%A8vres&gl=fr&ei=S0DYUqWaOKO90QX4roHIDw&ved=0CDIQ8gEwAA">1, avenue de la Cristallerie</a>
						 <br>Entrée A – 6ème étage <br>92310 SÈVRES
					</div>
					<div class="medium-4 columns">
						<strong>Contactez-nous</strong> <br>
						Tél : 01 46 99 91 91 <br>
						Fax : 01 46 99 91 90 <br>
						<a href="mailto:contact@kilix.fr">contact@kilix.fr</a>
					</div>
					<div class="medium-4 columns footer-links">
						<a class="enabled" data-pos="1" href="/">Home</a><br>
						<a class="enabled" data-pos="2" href="/team">Team</a><br>
						<a class="enabled" data-pos="3" href="/agilite">Agilité</a>
					</div>
				</div>
				<div class="large-12 columns">
					Kilix <i class="icon-heart" data-text="est une marque"></i> extia <br>Tous droits réservés Copyright © 2014 Kilix
				</div>
			</div>
		</footer>
		<!-- TODO : Par la suite le fichier mix.js générera le min.js -->
  		{#{% include "scripts-debug.html.twig" %}#}
  		<script src="/assets/js/scripts.min.js"></script>
  		{% block scripts %}{% endblock %}
	</body>
</html>