<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kilix V2</title>
  		<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
  		<script src="assets/js/vendor/modernizr.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-top">
			<div class="row">
				<i class="toggle-menu show-for-small-only">
					<span class='icon-folded'>≡</span>
					<span class='icon-unfolded'>
						<!-- ▲ --><!-- ⏚ -->
						<img src="assets/img/ARROW_TOP_VA_MOURIR_STEPH.png" />
					</span>
				</i>
				<div class="logo">
				      <img class="svg" src="assets/img/logo_small.svg" alt="">
				</div>
				<div class='nav-links-wrapper nav-links-hidden'>
					<a class='nav-link current' href="/" data-pos="1">Home</a>
					<!-- <a class='nav-link' href="/team" data-pos="2">Team</a> -->
					<a class='nav-link' href="/agilite" data-pos="3">Agilite</a>
					<a class='nav-link' href="/contact" data-pos="4">Contact</a>
				</div>
			</div>
		</nav>
		<div class='site-wrapper clearfix'>
			<div class="main-wrapper">
				<div class="wrapper">
					{% block content %}{% endblock %}
		  		</div>
		  	</div>
			<footer>
				<div class="row">
					<q>Si je devais faire un cadeau à la génération suivante, je lui apprendrais à ne pas se prendre au sérieux.</q>
					<a href="/contact" class="button">Contactez-nous</a>	
					<div class="copyright">Kilix love extia copyright tout ça</div>
				</div>
			</footer>
		</div>
		<!-- DEBUG : Par la suite le fichier mix.js générera le min.js -->
  		{% include "scripts-debug.html.twig" %}
  		<script src="assets/js/animations.min.js"></script>
  		<script type="text/javascript">
  		</script>
	</body>
</html>