<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kilix V2</title>
  		<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
  		<script src="assets/js/modernizr.js"></script>
	</head>
	<body>
		<nav class="top-bar">
			<i class="toggle-menu show-for-small-only">
				<span class='icon-folded'>≡</span>
				<span class='icon-unfolded'>
					<!-- ▲ --><!-- ⏚ -->
					<img src="assets/img/ARROW_TOP_VA_MOURIR_STEPH.png" />
				</span>
			</i>
			<ul class="title-area">
			    <li class="name">
			      <h1><a href="/">Kilix</a></h1>
			    </li>
			</ul>
			<section class='nav-links-wrapper nav-links-hidden'>
				<a class='nav-link' href="/">Home</a>
				<a class='nav-link' href="/team">Team</a>
				<a class='nav-link' href="/contact">Contact</a>
			</section>
		</nav>
		<header>
		
		</header>
		<div class="main-wrapper">
			<div class="wrapper">
				{% block content %}{% endblock %}
	  		</div>
	  	</div>
		<footer>
			
		</footer>
  		{% include "scripts.html.twig" %}
  		<script type="text/javascript">
  		</script>
	</body>
</html>