{% extends "layout.html.twig" %}

{% block content %}
<div class="container references" data-page="references">
	<header class="landing landing-references {% if ress.isMobile ==  false %}desktop{% endif %}">
		<div class="row">
			<div class="large-9 columns">
				<h1>Nos références <span></span><i class="icon-keyboard_arrow_down"> </i></h1>
				<p>Les projets sur lesquels <strong>Kilix</strong> a travaillé sont très variés, aussi bien du coté des clients (Start-up, Grand comptes, Extia, ...)	que du coté des produits réalisés (Web App, Site vitrine, Site éditorial, ...).
				</p>
			</div>
		</div>
	</header>
	<section class="intro push-top {% if ress.isMobile ==  false %}desktop{% endif %}"></section>
	<section class="content {% if ress.isMobile ==  false %}desktop{% endif %}">
		<div id="horizon" class="large ref {% if browser.browser == "IE" %}IE {% endif %}">
			<div class="wrapper">
				<div class="bg"></div>
				<div class="mask">
					<div class="cover"></div>
				</div>
			</div>
			<div class="pictures">
				<img class="logo-ref svg" src="/assets/img/references/horizon-logo.svg" alt="Logo COP 21">
				<img class="maquette-ref" src="/assets/img/references/horizon-home.png" alt="Maquette Horizon">
			</div>
			<div class="infos">
				<h3>Horizon</h3>
				<h4>Développement du site Horizon lors de la COP21 pour l'école polytechnique de Lausanne</h4>
				<p>
					L'objectif de Horizon est de développer un ensemble de plateformes permetant au public de disposer d'outils de visualisation des tendances sur les réseaux en temps réel. Dans cette optique, Kilix a développé la première plateforme de présentation des résultats d'analyse des réseaux sociaux pour la conférence Climat COP21.<br>
					Une approche agile a aussi était utilisée pour ce projet qui été composé de 2 lead développeurs et 1 Scrum Master.<br>
					{% if browser.browser == "IE" %}
					<a href="http://cop21horizon.com/fr/" target="_blank" class="ref-btn-mobile buttonIE valeurIE enabled"><span data-hover="Vers le site">Vers le site</span></a>
					{% else %}
					<a href="http://cop21horizon.com/fr/" target="_blank" class="ref-btn-mobile button enabled"><span data-hover="Vers le site">Vers le site</span></a>
					{% endif %}
				</p>
			</div>
		</div>
	</section>
	{#{% include "contact-footer.html.twig" %}#}
</div>
{% endblock %}
