{% extends "layout.html.twig" %}

{% block content %}
<div class="container references" data-page="references">
	<header class="landing landing-references {% if ress.isMobile ==  false %}desktop{% endif %}">
		<div class="row">
			<div class="large-9 columns">
				<h1>Nos références <span></span><i class="icon-keyboard_arrow_down"> </i></h1>
				<p>Pour nous, <strong>l’agilité</strong> ne se limite pas à une méthodologie de gestion de projet. C’est <strong>notre philosophie</strong>.
					Alliée aux principes de <strong>l'amélioration continue</strong> elle nous permet d'apporter <strong>transparence</strong>, <strong>qualité</strong> et <strong>satisfaction à nos clients.</strong></p>
				</div>
			</div>
		</header>
		<section class="intro push-top {% if ress.isMobile ==  false %}desktop{% endif %}"></section>
		<section class="content {% if ress.isMobile ==  false %}desktop{% endif %}">
			<div id="amnesty" class="ref">
				<div class="pictures">
					<img class="logo-ref svg" src="/assets/img/svg/amnesty-logo-black.svg" alt="logo amnesty" id="logo_amnesty">
					<img src="/assets/img/amnesty-iphone.png" alt="maquette amnesty" id="maquette_amnesty">
					<a href="#" class="ref-btn link-ref"><i class="icon-link"></i></a>
					<a href="#" class="ref-btn more-ref"><i class="icon-add"></i></a>
				</div>
				<div class="right-mask">
					<div class="infos">
						<h3>Refonte complète du site Amnesty.fr</h3>
						<h4>Amnesty Internationnal France</h4>
						<h5>Réalisation en cours</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. <br>
							<a href="#" class="ref-btn-mobile button enabled"><span data-hover="En savoir plus">En savoir plus</span></a>
							<a href="#" class="ref-btn-mobile button enabled"><span data-hover="Link">Link</span></a>
						</p>
					</div>
				</div>
			</div>
			<div id="vamos" class="ref">
				<div class="pictures">
					<img class="logo-ref svg" src="/assets/img/svg/w_logo_vamos.svg" alt="logo Vamos" id="logo_vamos">
					<img src="/assets/img/amnesty-iphone.png" alt="maquette amnesty" id="maquette_amnesty">
					<a href="#" class="ref-btn link-ref"><i class="icon-link"></i></a>
					<a href="#" class="ref-btn more-ref"><i class="icon-add"></i></a>
				</div>
				<div class="right-mask">
					<div class="infos">
						<h3>Création du CRM d'Extia</h3>
						<h4>Extia</h4>
						<h5>Réalisation en cours</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. <br>
							<a href="#" class="ref-btn-mobile button enabled"><span data-hover="En savoir plus">En savoir plus</span></a>
							<a href="#" class="ref-btn-mobile button enabled"><span data-hover="Link">Link</span></a>
						</p>
					</div>
				</div>
			</div>
		</section>
		{#{% include "contact-footer.html.twig" %}#}
	</div>
	{% endblock %}
