
.landing-agilite{
	background-image: url('../img/landing-bg-agile.jpg'); background-size: cover; background-position: 50% 50%;
}

.landing-team{
	background-image: url('../img/landing-bg-team.jpg'); background-size: cover;
}

#tps, #val{
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: bold;
	fill: #61AFF0;
}
.agilite{

	a.button{
		margin: 100px 0 10px;
	}

	.content article{
		.row{

			padding: 50px 0;
			border-bottom: 4px double rgba(0, 0, 0, 0.06);
			position: relative;
		}

	&:last-child{
		.row{
			border:0;
		}
	}
	}
	
	@media #{$medium-up}{
		.svg-auto-size{
			padding: 20px;
			background: rgba(0, 0, 0, 0.02);
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.large-4{
		border: 1px solid rgba(190, 190, 190, 1);
		background: lighten($col1, 5%);
		color:white;
		position: absolute; top:0; left:0;
		height: 100%;
	}
}

.agilite article:nth-child(2) .large-4{
	background: lighten($col2, 5%);
	position: absolute; top:0; right:0; left:auto;
}

.agilite article:nth-child(3) .large-4{
	background: lighten($col3, 5%);
}

.agilite article:nth-child(4) .large-4{
	background: lighten($col4, 5%);
	position: absolute; top:0; right:0; left:auto;
}



.agility-item {

	ul {
		list-style-type: none;
		top: 50%;
		transform: translateY(-65%);
		position: relative;

		li {
			position: relative;
			min-height: rem-calc(25);
			font-size: rem-calc(14);
			line-height: rem-calc(17);
			margin-bottom: rem-calc(15);
		}
	}

	@media #{$medium-only}{
		.large-6 {
			width: 50%;
		}
	}

	.checkmark {
		position: absolute;
		left: rem-calc(-35);
		top: rem-calc(2.5);
		height: rem-calc(20);
		width: rem-calc(20);

		path {
			opacity: 0;
			stroke: #fff;
			stroke-width: 13px; // les REM ne fonctionnent pas
			stroke-linecap: round;
			stroke-linejoin: round;
			fill: none;
			stroke-dasharray: rem-calc(126), 126px; 
			transition: stroke-dashoffset 0.7s ease-in-out, opacity 0.1s ease-in-out ;
			stroke-dashoffset: 125px;
		}
	}	

	&.checked {
		.checkmark {
			path {
				opacity: 1;
				stroke: #fff;
				stroke-dashoffset: 0px;
			}
		}
	}
}
