
/*CONTACT*/
.landing-contact{
	.row{
		position: relative;
		z-index:2;
		pointer-events:none;
	}
}

.map{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&:after{
		content: " ";
		pointer-events:none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.4);
		z-index:1;
	}
}