.references{
  padding: 0!important;
  .content{
    background-image: linear-gradient(70deg,  rgba(236,236,245,1) 0%,rgba(236,236,245,1) 70%,rgba(230,230,237,1) 70%);
  }
}

.landing-references{
  background-image: url('../img/landing-bg-agile.jpg'); background-size: cover; background-position: 50% 50%;
}

.ref{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  .pictures{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    overflow: hidden;

    img{ z-index: 10; }
  }
  .right-mask{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .infos{
      flex: 1 0 0;
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      transition: all .3s ease-out;

      h3, h4, h5, p{ padding: 0; margin: 0; }
    }
  }
}
#amnesty{
  .pictures{
    background-color: #fef200;
  }
}
#vamos{
  .pictures{
    background-color: #eb6516;
  }
}

@media #{$small-only} {
  .pictures{
    flex-direction:column;

    .logo-ref{
      position: relative;
      max-width: 250px;
      margin-bottom: 20px;
    }
  }
}

@media #{$small-up} {
  .ref{
    height: auto;
    .pictures{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;

      .logo-ref{
        position: relative;
        min-width: 250px;
      }
      #maquette_amnesty{
        position: relative;
        height: 90%;
      }
      .ref-btn{display:none;}
    }
    .right-mask{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      .infos{
        padding: 20px;
        .ref-btn-mobile{
          display: inline-block;
        }
      }
    }
  }
}

@media #{$large-up} {
  .ref{
    height: 400px;
    margin-bottom: 100px;
    .pictures{
      position: absolute;
      top: 0;
      left: 70px;
      width: 20%;
      height: 100%;
      transform: skewX(-25deg);
      transition: width .5s .7s ease;

      img{ height: 400px; }
      svg, img{ transform: skewX(25deg); }

      .logo-ref{
        position: relative;
        left: 35px;
        min-width: 250px;
      }
      #maquette_amnesty{
        position: relative;
        top: -50px;
        left: -100px;
        height: 100%;
        opacity: 0;
        transform: translateY(-20%) skewX(25deg);
        transition: transform .8s 0s ease,
        opacity .8s 0s ease;
      }

      .ref-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: background-color .5s 0s ease-out,
        width .3s .85s ease;
        cursor: pointer;

        i{
          font-size: 1.5em;
          transform: skewX(25deg);
          transition: color .5s ease-out;
        }
      }
      .link-ref{ right: 0; }
      .more-ref{ right: 49px; }

      &:hover{
        transition: width .9s 0s ease;
        overflow: visible;
        width: 75%;

        #maquette_amnesty{
          transition: transform .8s .85s ease,
          opacity .8s .85s ease;
          transform: translateY(0%) skewX(25deg);
          opacity: 1;
        }

        .ref-btn{
          transition: background-color .5s 0s ease-out, width .3s 0s ease;
          width: 50px;
        }
      }
    }
    .right-mask{
      position: absolute;
      top: 0;
      left: 25%;
      width: 70%;
      height: 400px;
      transform: skewX(-25deg);
      .infos{
        left: 0;
        padding: 25px;
        max-width: 90%;
        transform: skewX(25deg);
        .ref-btn-mobile{
          display: none;
        }
      }
    }
  }
  #amnesty{
    background-color: #eff0f1;
    .ref-btn{
      background-color: #2c313f;
      &:hover{
        background-color: #fef200;
        i{ color: #2c313f; }
      }
      i{
        color: #fef200;
      }
    }
    .right-mask{
      background-color: #eff0f1;
    }
  }
}

@media #{$xlarge-up} {
  .ref{
    height: 400px;

    .pictures{
      left: 150px;
      width: 15%;

      .logo-ref{
        left: 50px;
        min-width: 300px;
      }
      #maquette_amnesty{
        height: 110%;
      }
    }
  }
}
