#reload {
				path, circle{
					animation: pulse 1s linear infinite alternate;
					transform-origin: 50% 50%;
				}
			}


#aileron-back, #aileron-front{@include colorize(#2c313f);}

#elRaptor {
	z-index: 299999;
}

#Moustache {
	animation:MegaPulse 2s ease both infinite;
	transform-origin: 50% 50%;
}