/* MENU */


.navbar {
	background: #2c313f; //Test couleur #fff;
	overflow: visible;
	transform: perspective(800px);
	perspective:640px;
	backface-visibility:hidden;
	height: rem-calc(63);
	position: fixed;
	width: 100%;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 0px;
	transition:height .3s cubic-bezier(0.165,0.840,0.440,1.000),top .3s cubic-bezier(0.165,0.840,0.440,1.000),transform .6s cubic-bezier(0.165,0.840,0.440,1.000), background .6s cubic-bezier(0.165,0.840,0.440,1.000);	
	
	// &:after{
	// 	background: linear-gradient(to right,#e63429 0,#e63429 20%,#fab400 20%,#fab400 40%,#009884 40%,#009884 60%,#85cedf 60%,#85cedf 80%,#087ec2 80%,#087ec4 100%);
	// 	position:absolute;
	// 	content:" ";
	// 	width:100%;
	// 	height: 5px;
	// 	bottom:0;
	// 	left:0;
	// }

	@media #{$medium-up} {
		// background:transparent;
		height: rem-calc(100);
		.row{
				height: rem-calc(100);
				line-height: rem-calc(100);
				padding:0 1rem;
				transition: line-height 0.6s;
				position: relative;

			}

		&.navbar-top {
			background: transparent;
			box-shadow:none;

			height:rem-calc(140);

			.nav-links-wrapper  .nav-link{
				color:white;
			}

			.back-to-top{opacity:0!important; pointer-events:none;}

			.row{
				height: rem-calc(140);
				line-height: rem-calc(140);
				
			}

			.logo{opacity:0;}
			.logo svg {
				height: 140px;

				g, #goutte1, #goutte2{
					fill:white;
				}	
			}
		}

	}


	.toggle-menu {
		-webkit-touch-callout: none;
		user-select: none;
		font-family: Arial,sans-serif;
		cursor:pointer;
		display: block;
		float: left;
		font-size: rem-calc(45);
		color: #000; 
		border: 1px solid #dfdfdf;
		border-width: 0 1px;
		box-sizing:border-box;
		width:rem-calc(63);
		height:rem-calc(63);
		text-align: center;
		line-height: rem-calc(63);
		overflow: hidden;
		font-style: normal;

		// Arrow Icon
		.icon-unfolded {
			display: block;
			transform:translateY(rem-calc(0));
			transition:transform .5s ease;
			img {
				width: 25px;
				margin-left: rem-calc(2);
			}
		}
		// Hamburger Icon
		.icon-folded {
			display: block;
			transform:translateY(rem-calc(0));
			transition:transform .5s ease;		
		}
	}

	
	.nav-links-wrapper {
		backface-visibility:hidden;
		transition:all .6s cubic-bezier(0.165,0.840,0.440,1.000);
		background: #fff;
		position: absolute;
		width: 100%;
		bottom: rem-calc(60);
		transform: rotateX(87.5deg);
		transform-origin:100% 100%;
		@media #{$medium-up} {
			background: transparent;
			position: relative;
			transform: rotateX(0deg);
			transition:transform 0s cubic-bezier(0.165,0.840,0.440,1.000);
			margin-right:rem-calc(35);
			display: inline-block;
			vertical-align: middle;
			line-height: 1.2;
			bottom:auto;
			text-align: right;
			pointer-events: visible;
		}
		@media #{$small-only}{
			&:after{
				content:" ";
				position:absolute;
				top:0; left:0; bottom:0; right: 0;
				background:rgba(0,0,0,0.2);
				z-index:1;
				transition: all 0.5s;
				pointer-events:none;
			}
		}
		.nav-link {
			font-family: Ubuntu;
			font-size: rem-calc(16);
			font-weight: bold;
			text-transform:uppercase;
			color:white; //Test couleur color:$primary-color;
			backface-visibility:hidden;
			display: block;
			margin-left: 3rem;
			height: 45px;
			line-height: 45px;
			pointer-events: visible;
			position: relative;

			&:after{
				position: absolute;
				width: 100%;
				height: 3px;
				bottom: 0;
				left: 0;
				background: $second-color;
				content: " ";
				transition: 0.3s ease-out;
				transform: translateY(0.3rem);
				opacity:0;
			}


			&.current, &:hover{
				&:after{
					transform: translateY(0);
					opacity:1;
				}
			}

			@media #{$medium-up} {
				display: inline-block;
			}
		}
	}

	.logo {
		position: absolute;
		pointer-events:visible;
		width: rem-calc(70);
		height: 100%;
		padding: 0 1rem;
		top:0; left:4rem;
		z-index:2;
		transition:0.5s;
		img {
			height: 100%;
		}
		svg {
			width: 100%;
			height: 63px;
			transition: height 0.8s;	
			@media #{$medium-up} {
				height: 100px;
			}	

			//Test couleur
			g, #goutte1, #goutte2{
					fill:white;
				}	
		}
		box-sizing: content-box;
		@media #{$medium-up} {
			width: rem-calc(80);
			left:0;
		}


		svg polygon, #goutte1, #goutte2 {
		  transition: all 0.5s;
		}

		#goutte2{
		    animation-delay: 200ms;
		}

		&.animated{
		    #goutte1, #goutte2{
		       animation-name: bounce;
		       animation-duration: 0.7s;
		       animation-timing-function: ease;
		       animation-iteration-count: infinite
		    }
		}



		&:hover{
			 #goutte1, #goutte2 {
				transform: translateY(-40px);
			 }
		}



	}
}


body.unfolded {
	.site-wrapper {
		-webkit-transform: translateY(rem-calc(130));
		-moz-transform: translateY(rem-calc(130));
		transform: translateY(rem-calc(130));
		
		@media #{$medium-up} {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			transform: translateY(0);
		}
		.icon-folded {
			transform:translateY(rem-calc(-35));
		}
		.icon-unfolded {
			transform:translateY(rem-calc(-37));
		}
	}
	.navbar {
		transform:translateY(rem-calc(132));
		transition:transform .6s cubic-bezier(0.165,0.840,0.440,1.000);			
		@media #{$medium-up} {
			transform:translateY(rem-calc(0));
		}
		.nav-links-wrapper {
			transform: rotateX(0deg);

			&:after{
				content:" ";
				position:absolute;
				top:0; left:0; bottom:0; right: 0;
				background:rgba(0,0,0,0);
				z-index:1;
			}

			
		}
	}
}


@keyframes bounce{
     from {transform: translateY(0);}
     50%  {transform: translateY(-20px);}
     to   {transform: translateY(0);}
}