/* MENU */
.toggle-menu {
	-webkit-touch-callout: none;
	user-select: none;
	font-family: Arial,sans-serif;
	cursor:pointer;
	display: block;
	float: left;
	font-size: rem-calc(35);
	color: #fff; 
	border: 1px #fff solid;
	box-sizing:border-box;
	width:rem-calc(35);
	height:rem-calc(35);
	text-align: center;
	line-height: rem-calc(33);
	margin-left: rem-calc(15);
	margin-top: rem-calc(5);
	padding-right: rem-calc(2);
	overflow: hidden;
	font-style: normal;

	// Arrow Icon
	.icon-unfolded {
		display: block;
		transform:translateY(rem-calc(0));
		transition:transform .5s ease;
		img {
			width: 25px;
			margin-left: rem-calc(2);
		}
		// font-size: rem-calc(23);
		// margin-left: rem-calc(3);
		// margin-top: rem-calc(1);
	}
	// Hamburger Icon
	.icon-folded {
		display: block;
		margin-left: rem-calc(2);
		transform:translateY(rem-calc(0));
		transition:transform .5s ease;		
	}
}

.top-bar {
	overflow: visible;
	transform: perspective(800px);
	perspective:640px;
	backface-visibility:hidden;

	.nav-links-wrapper {
		backface-visibility:hidden;
		transition:transform .6s cubic-bezier(0.165,0.840,0.440,1.000);
		background: #333;
		position: absolute;
		width: 100%;
		bottom: rem-calc(43);
		transform: rotateX(90deg);
		transform-origin:100% 100%;
		@media #{$medium-up} {
			position: static;
			width: auto;
			transform: rotateX(0deg);
			transition:transform 0s cubic-bezier(0.165,0.840,0.440,1.000);
		}
	}

	.nav-links-hidden {
		visibility: hidden;
		@media #{$medium-up} {
			visibility: visible;
		}
	}

	.nav-link {
		backface-visibility:hidden;
		display: block;
		margin-left: rem-calc(15);
		@media #{$medium-up} {
			float:left;
		}
	}

	.title-area {
		float: left;
	}
}

body.unfolded {
}