@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);


/* PROTOTYPING */


/* VARIABLES */
$primary-color : #384047;
$second-color: #a8b7bf;
$text-color : #8c989e;

/* BASE */
body {
	font-family: "Source Sans Pro";
	transition: height 1s;
	background: #fff;
	min-height: 800px;
}



h1{
	font-family: Ubuntu;
	font-weight: bold;
	font-size: rem-calc(54);
	color: $primary-color;
}

h2{
	font-family: Ubuntu;
	font-weight: 500;
	font-size: rem-calc(48);
	color: $second-color;

}

h3{

}

p{
	font-size: rem-calc(18);
	line-height: rem-calc(28);
	color: $text-color;
}
a {
	text-decoration: none;

	&.button {
		font-family: "Source Sans Pro";
		transition:all .3s cubic-bezier(0.165,0.840,0.440,1.000);

		&:active {
			transform:translateY(rem-calc(4));
			box-shadow: 0px 0px 0px 0px #384047;
		}
	}
}

/* COMPONENTS */ 

@import "componenents/menu";



	.site-wrapper {
		transition:transform .6s cubic-bezier(0.165,0.840,0.440,1.000);
		backface-visibility:hidden;

		.main-wrapper{
			position:relative; z-index:1;
		}	
	}


.container{
	@include clearfix;
}

.wrapper-new{
	transform: translateX(100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 10;

	&.wrapper-prev{
		transform: translateX(-100%);
	}
}


.disabled{
	pointer-events:none;
}



/*HOME*/
.landing-home{
	height: 850px;
	width: 100%;
	padding-top: rem-calc(120);
	margin-bottom:rem-calc(20);
	background: url('../img/bg_home.png') /*fixed*/;

	.row {
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.landing-main-text {

		@media #{$medium-up} {
			margin-top: rem-calc(170);
		}
	}

	.landing-agility-button {
		width: rem-calc(292);
		height: rem-calc(42);
		background: #4f5a64;
		line-height: 42px;
		padding: 0;
		border-radius: 4px;
		margin: auto;
		display: block;
		box-shadow: 0px 4px 0px 0px #384047;

		@media #{$medium-up} {
			margin: 0;
		}
	}

	.landing-next-section-wrapper {
		height: rem-calc(115);
		width: rem-calc(115);
		position: absolute;
		bottom: rem-calc(-80);
		left: calc(50% - 3.59375rem); // Rem calc ne marche pas dans un calc ❤

		.landing-next-section-back {
			height: 100%;
			width: 100%;
			background: #4f5a64;
			transform:rotate(45deg);
			border-radius: rem-calc(10px);
		}
	}
}

.svg-anim{
	
	background:white; 
	.row{
		border-bottom: 1px solid #e3e3e3;
		padding: 5rem 0;
	}

	h2{
		font-size:rem-calc(22);
		font-weight: 400;
		margin: 0 0 0.5rem 0;
	}
	h3{
		font-size:rem-calc(48);
		font-family: Ubuntu;
		font-weight: 500;
		margin: 0rem 0 1.5rem 0;
	}
}

/*FOOTER*/
footer{

	background: url('../img/bg-footer.png') #39444e;
	background-size:cover;
	text-align:center;
	padding-bottom: rem-calc(30);
	position:relative; z-index:1;

	q{
		display: block;
		font-size:rem-calc(30);
		line-height: rem-calc(40);
		margin: 1em 0;
		text-align: center;
		padding: 0 1em;
		font-family: Ubuntu;
		color:white;

		@media #{$medium-up} {
			font-size:rem-calc(48);
			line-height: rem-calc(72);
			margin: 3em 0 2.4em 0;
			padding: 0 2em;
		}
	}

	a.button{
		margin-bottom:rem-calc(20);
		font-size: rem-calc(28);
		font-family: Source sans pro;
		background: transparent;
		border: 4px solid white;
		padding: 0.3em 1.3em;
		border-radius: 8px;

		@media #{$medium-up} {
			margin-bottom:rem-calc(180);
		}
	}

	.copyright{
		font-size:rem-calc(18);
		color:white;
	}
}
