@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);


/* PROTOTYPING */
html {
	background: #000;
}

body {
	background: navy;
	@media #{$small-only} {
		background: yellow;
   	}
}

/* VARIABLES */
$primary-color : #384047;
$second-color: #a8b7bf;
$text-color : #8c989e;

/* BASE */
body {
	font-family: "Source Sans Pro";
}

h1{
	font-family: Ubuntu;
	font-weight: bold;
	font-size: rem-calc(54);
	color: $primary-color;
}

h2{
	font-family: Ubuntu;
	font-weight: 500;
	font-size: rem-calc(48);
	color: $second-color;

}

h3{

}

p{
	font-size: rem-calc(18);
	line-height: rem-calc(28);
	color: $text-color;
}


/* COMPONENTS */ 

@import "componenents/menu";


.site-wrapper {
	transition:transform .6s cubic-bezier(0.165,0.840,0.440,1.000);
	backface-visibility:hidden;

	&.unfolded {
		-webkit-transform: translateY(rem-calc(130));
		-moz-transform: translateY(rem-calc(130));
		transform: translateY(rem-calc(130));
		
		@media #{$medium-up} {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			transform: translateY(0);
		}
		.nav-links-wrapper {
			transform: rotateX(0deg);
		}
		.icon-folded {
			transform:translateY(rem-calc(-35));
		}
		.icon-unfolded {
			transform:translateY(rem-calc(-37));
		}
	}
}

.wrapper-new{
	transform: translateX(100%);
	position: absolute;
	width:100%;
	z-index: 2;

	&.wrapper-prev{
		transform: translateX(-100%);
	}
}


.disabled{
	pointer-events:none;
}



/*HOME*/
.landing-home{
	height: 800px;
	background:white; margin-bottom:rem-calc(20);
}

.svg-anim{
	height: 400px;
	background:green; margin-bottom:rem-calc(20);
}
